[data-theme="Light"] {
  background-color: antiquewhite;
  color: rgba(0, 0, 0, 0.818);
}
[data-theme="Dark"] {
  background-color: darkslateblue;
  color: bisque;
}
[data-theme="Hawaii"] {
  background-color: goldenrod;
  color: chartreuse;
}

a {
  text-decoration: none;
}
